<div class="form-froup row pl-5 pr-5" style="padding-top: 15px ;">
    <nav class="navbar  bg-light navbar-dark">

        <label class="col-sm-2 col-form-label">EmployeeId/EmailId</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter EmployeeId or EmailId">
        </div>

        <br><br><br>
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Password">
        </div>

        <div class="center" style="margin-top:20px;margin-left: 180px;">
            <button class="btn btn-primary">
                SignIn
            </button>
        </div>
    </nav>
</div>
<br>